.truncate-description {
  display: inline-block;
  max-width: 350px; /* Set the maximum width for the description cell */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sticky-column {
  position: sticky;
  right: 0;
  z-index: 10;
  box-shadow: -8px 0 12px -4px rgba(0, 0, 0, 0.4);
}
